<a href="https://colab.research.google.com/github/yunjeong-chang/2021_MachineLearning/blob/main/7%EC%A3%BC%EC%B0%A8_Assignment2_%EB%8B%B9%EB%87%A8%EB%B3%91%20%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **<이차판별분석 (QDA)>**

**: 당뇨병 예측** (당뇨병이면 1, 당뇨병이 아니면 0으로 라벨링하는 문제)

* **데이터셋 설명**
  - Pregnancies : 임신 횟수
  - Glucose : 글루코오스(탄수화물 화합물)
  - BloodPressure : 혈압
  - SkinThickness : 피부 두께
  - Insulin : 인슐린 수치
  - BMI : BMI 지수
  - DiabetesPedigreeFunction : 가족력
  - Age : 나이
  - Diabetes : 당뇨병이면 1, 당뇨병이아니면 0

* **데이터파일 설명**
  - **data.csv** : 당뇨병 데이터 + 당뇨병 보유 여부(0 or 1)
  - **X_test.csv** : 당뇨병 보유 여부외에는 train 데이터와 동일
  - **submit.csv** : submission 파일의 예시 (평가는 ACC 스코어)

In [56]:
import pandas as pd
import numpy as np

In [57]:
train = pd.read_csv('/content/data.csv')
test_x = pd.read_csv('/content/X_test.csv')
submit = pd.read_csv('/content/submit.csv')

In [58]:
train

     Pregnancies  Glucose  ...  Age  Diabetes
0              1       95  ...   22         0
1              5      105  ...   28         0
2              0      135  ...   24         1
3              4      131  ...   28         0
4              1      103  ...   33         0
..           ...      ...  ...  ...       ...
532            5      139  ...   26         0
533            1       96  ...   27         0
534           10      101  ...   38         1
535            0      141  ...   29         1
536            0      125  ...   21         0

[537 rows x 9 columns]

In [59]:
train_x = train.drop('Diabetes', axis=1)
train_y = train['Diabetes']

# 데이터 살펴보기

In [60]:
train_x

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              1       95             60  ...  23.9                     0.260   22
1              5      105             72  ...  36.9                     0.159   28
2              0      135             68  ...  42.3                     0.365   24
3              4      131             68  ...  33.1                     0.160   28
4              1      103             30  ...  43.3                     0.183   33
..           ...      ...            ...  ...   ...                       ...  ...
532            5      139             64  ...  28.6                     0.411   26
533            1       96            122  ...  22.4                     0.207   27
534           10      101             86  ...  45.6                     1.136   38
535            0      141              0  ...  42.4                     0.205   29
536            0      125             96  ...  22.5                     0.262   21

[537 rows x 8 columns]

In [61]:
train_y

0      0
1      0
2      1
3      0
4      0
      ..
532    0
533    0
534    1
535    1
536    0
Name: Diabetes, Length: 537, dtype: int64

In [62]:
test_x

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6       98             58  ...  34.0                     0.430   43
1              2      112             75  ...  35.7                     0.148   21
2              2      108             64  ...  30.8                     0.158   21
3              8      107             80  ...  24.6                     0.856   34
4              7      136             90  ...  29.9                     0.210   50
..           ...      ...            ...  ...   ...                       ...  ...
226            0      119              0  ...  32.4                     0.141   24
227            4      109             64  ...  34.8                     0.905   26
228            0      127             80  ...  36.3                     0.804   23
229            6      105             70  ...  30.8                     0.122   37
230            5       77             82  ...  35.8                     0.156   35

[231 rows x 8 columns]

In [63]:
print(train_x.shape)
print(train_y.shape)
print(test_x.shape)

(537, 8)
(537,)
(231, 8)

# 데이터 전처리

In [64]:
#표준화
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
scale.fit(train_x)
train_x_std = scale.transform(train_x)
test_x_std = scale.transform(test_x)

# 모델

In [65]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

#cld = LinearDiscriminantAnalysis(store_covariance=True)      
cqd = QuadraticDiscriminantAnalysis(store_covariance=True)

#cld.fit(train_x_std, train_y)
cqd.fit(train_x_std, train_y)

QuadraticDiscriminantAnalysis(priors=None, reg_param=0.0, store_covariance=True,
                              tol=0.0001)

# 예측

In [66]:
#test_y_pred = cld.predict(test_x_std)
test_y_pred = cqd.predict(test_x_std)
test_y_pred

array([0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0])

# 저장

In [67]:
for i in range(len(test_y_pred)) :
  submit['Diabetes'][i] = test_y_pred[i]

submit

      ID  Diabetes
0      0         0
1      1         0
2      2         0
3      3         0
4      4         0
..   ...       ...
226  226         1
227  227         0
228  228         0
229  229         0
230  230         0

[231 rows x 2 columns]

In [68]:
submit.to_csv('당뇨병_18012576.csv', index=False)